@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
}

.descriptionProfile h3{
    color: rgb(140, 104, 173);
    font-size:  30px;
}

.descriptionProfile p{
    color: white;
    text-align: center;
}

h2{
    color: rgb(140, 104, 173);
    font-size:  20px;
    text-align: center;
}

.containerProjects p{
    text-align: center;
}

a{
    text-decoration: none;
}

section {
    padding: 90px 0;
    background: white;
}

.containerNav{
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
}

.navBar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
    
}

.iconoNav{
    display: flex;
    align-items: center;
}

.linksNav{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.linksNav{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
}

.linksNav a{
    color: rgb(140, 104, 173);
    transition: color 0.3s;
}

.linksNav a:hover{
    color: aqua;
    transition: color 0.3s;
}

.iconNav{
    display: none;
    align-items: center;
    font-size: 35px;
}

.home{
    min-height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/programming.png);
    background-size: cover;

}

.containerProfile{
    display:flex;
    align-items: center;
    justify-content: center;
}

.imgProfile{
    height: 250px;
    border-radius: 50%;
    margin-right: 40px;
    transition: filter  3s;
}

.containerAbout{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.about{
    text-align: left;
}

.containerTechnology{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.containercontact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.setcontact{
    display: flex;
    gap: 50px;
}



.setProjects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    gap: 20px;
}

.projects{
    width: 100%;
    height: 100%;
}

.projects img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
}




